<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-US"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<head th:replace="~{fragments :: head(title='Simpliswap Home')}"><title></title></head>-->


<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
<!--    <script src="https://apis.google.com/js/platform.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script src="https://apis.google.com/js/api:client.js"></script>-->
<!--    <script src="https://apis.google.com/js/api.js?onload=init" defer></script>-->
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
<!--    <script src="https://apis.google.com/js/api.js"></script>-->


</head>



<body onload="init()">


<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
            <div class="mb-4">
                <h3>Login</h3>


                <button  onclick="signIn()">Sign In with Google</button>
                <button onclick="signOut()">Sign Out</button>
                <button onclick="checkUserData()">checkUserData</button>


            </div>

        </div>
    </div>
</div>



<script>
    // function decodeJwtResponse(token) {
    //     let base64Url = token.split('.')[1]
    //     let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
    //     let jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
    //         return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
    //     }).join(''));
    //     return JSON.parse(jsonPayload)
    // }
    //
    // let responsePayload;
    // window.handleCredentialResponse = (response) => {
    //     // decodeJwtResponse() is a custom function defined by you
    //     // to decode the credential response.
    //     responsePayload = decodeJwtResponse(response.credential);
    //
    //     console.log("ID: " + responsePayload.sub);
    //     console.log('Full Name: ' + responsePayload.name);
    //     console.log('Given Name: ' + responsePayload.given_name);
    //     console.log('Family Name: ' + responsePayload.family_name);
    //     console.log("Image URL: " + responsePayload.picture);
    //     console.log("Email: " + responsePayload.email);
    // }

    // function init() {
    //     gapi.load('auth2', function() {
    //         gapi.auth2.init({
    //             client_id: '736428050024-0ud1o97pg1or3j40ln949j6mgnmreck6.apps.googleusercontent.com'
    //         });
    //     });
    // }


    // function init() {
    //     gapi.load('auth2', function() {
    //         gapi.auth2.client.init({
    //             apiKey: 'AIzaSyBbqUJJN1l-1-0eKFUQWUYS_6AJ2gYeZNo',
    //             clientId: '736428050024-0ud1o97pg1or3j40ln949j6mgnmreck6.apps.googleusercontent.com',
    //             scope: 'openid email profile'
    //         }).then(function() {
    //             console.log('gapi initialized successfully');
    //         }, function(error) {
    //             // console.error('gapi initialization failed: ' + error);
    //             console.error('gapi initialization failed: ' + JSON.stringify(error, null, 2));
    //
    //         });
    //     });
    // }




    function init() {
        gapi.load('auth2', function() {
            gapi.auth2.init({
                client_id: 'deleted for github push to repo',
                scope: 'openid email profile',
                plugin_name: 'simpliswap',
                // ux_mode: 'redirect',
                redirect_uri: 'http://localhost:9090/login/oauth2/code/google'
            }).then(function() {
                console.log('gapi initialized successfully');
            }, function(error) {
                console.error('gapi initialization failed: ' + JSON.stringify(error, null, 2));
            });
        }, function(error) {
            console.error('gapi library load failed: ' + JSON.stringify(error, null, 2));
        });
    }

    function signIn() {

        console.log('Attempting sign-in');
        gapi.auth2.getAuthInstance().signIn().then(function (response) {
            console.log('Sign-in successful');
            console.log(response);

        }, function (error) {
            console.error('Error signing in: ' + JSON.stringify(error, null, 2));
        });
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        if (auth2.isSignedIn.get()) {
            auth2.signOut().then(function () {
                console.log('User signed out.');
                window.localStorage.clear();
                window.location.reload();
            });
        } else {
            console.log('User is not signed in.');
        }
    }

    function checkUserData(){
        var auth2 = gapi.auth2.getAuthInstance();
        var user = auth2.currentUser.get();
        console.log('User Data: ');
        console.log('User ID: ' + user.getId());
        console.log('User name: ' + user.getBasicProfile().getName());
        console.log('User email: ' + user.getBasicProfile().getEmail());
    }


    // function signIn() {
    //     console.log("In sign in method html");
    //     console.log('gapi.auth2.getAuthInstance() exists: ', gapi.auth2.getAuthInstance());
    //     if (gapi.auth2.getAuthInstance()) {
    //         console.log("Signed in successfully.");
    //         gapi.auth2.getAuthInstance().signIn().then(function(response) {
    //             // Handle successful sign-in
    //
    //
    //         }, function(error) {
    //             // Handle error
    //             console.error("Error signing in: ", error);
    //         });
    //     }




        // gapi.auth2.getAuthInstance().signIn().then(function(response) {
        //
        //     var id_token = response.getAuthResponse().id_token;
        //     // Send id_token to server for verification
        //
        //     $.ajax({
        //         type: "POST",
        //         url: "/verify-id-token",
        //         data: { id_token: id_token },
        //         success: function(data) {
        //             // Handle success response from server
        //             handleCredentialResponse(data);
        //             console.log("Id token verified successfully.");
        //         },
        //         error: function(jqXHR, textStatus, errorThrown) {
        //             // Handle error response from server
        //             console.log("Failed to verify id token. Error: " + errorThrown);
        //         }
        //     });
        // });
    //}

</script>
</body>



</html>