<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-US"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<head th:replace="~{fragments :: head(title='Simpliswap Home')}"><title></title></head>-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

</head>

<body>
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
            <div class="mb-4">
                <h3>Successful login</h3>

            </div>

        </div>
    </div>
</div>

</body>



</html>